# Duplicate files
*(*)*

# MATLAB files
*/slprj/
*/codegen/
*.prj

# build files
*.bak
*.lst
*.lnp
*.obj
*.tmp
*.TMP
*.__i
*.crf
*.o
*.d
*.axf
*.dep
*.uvopt
*.htm
*.hsc
~*
*.map
*uvgui*
*.uvoptx
*.sct
*JLinkLog.txt
*.dbgconf
*.bin
*.elf
*.hex
*.lnk

*.scvd
*.iex
*.ini

*.su

.agents/
